<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if(orders.length > 0) { %>
    <ul class="orders">
      <% orders.forEach(order => { %>
      <li class="orders__item">
        <h1>Order ID: <%= order._id %> - <a class="invoice" href="/orders/<%= order._id %>">Download Invoice</a></h1>
        <ul class="orders__products">
          <% order.products.forEach(prod => { %>
          <li class="orders__products-item"><span class="title"><%= prod.product.title %></span> By <%= prod.product.author %> (<%= prod.quantity %>) </li>
          <% }); %>
        </ul>
        <h2>Total Price: <%= order.total %> €</h2>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <h1>You haven't ordered anything yet !</h1>
    <% } %>
  </main>
  <%- include('../includes/footer.ejs') %>