<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if(errorMessage) {%>
    <div class="user-message user-message--error"> <%= errorMessage %></div>
    <% } else { %>
    <div class="user-message ">If Email is valid, new password will be sent to provided Email Address.</div>
    <% } %>
    <form class="product-form" action="/recover-account" method="POST">
      <h1>PASSWORD RECOVERY</h1>
      <div class="form-control">
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="form-control">
        <label for="captcha">Captcha</label>
        <input type="captcha" name="captcha" id="captcha" required />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn" style="width:100%" type="submit">Recover Password</button>
      <div class="links">
        <a class="link" href="/login">Want to login instead? Click <span>here.</span></a>
        <a class="link" href="/register">New here? Create an account <span>here.</span></a>
      </div>
    </form>
  </main>
  <%- include('../includes/footer.ejs') %>